/*
Style CSS for Syracuse Conjecture
*/


body{
    background-color: rgb(24, 24, 128);
    color: aliceblue;
}

#chartAndList{
    display: flexbox;
}

#chart_div{
    margin-top: 20px;
    width: 65%; 
    height: 700px;
}

#liste{
    margin-right: 5px;
    width: 15%;
    background-color: aqua;
}

